@model execicio.Models.Produto

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Produto</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nome" class="control-label"></label>
                <input asp-for="nome" class="form-control" />
                <span asp-validation-for="nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="descricao" class="control-label"></label>
                <input asp-for="descricao" class="form-control" />
                <span asp-validation-for="descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="id_categoria" class="control-label"></label>
                <select asp-for="id_categoria" class="form-control">
                    <option value="">Selecione uma categoria</option> <!-- Opção em branco para seleção padrão -->
                    @foreach (var categoria in ViewBag.ListaDeCategorias)
                    {
                        <option value="@categoria.Value">@categoria.Text</option>
                    }
                </select>
                <span asp-validation-for="id_categoria" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="foto" class="control-label"></label>
                <input asp-for="foto" type="file" class="form-control" />
                <span asp-validation-for="foto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="matricula_vendedor" class="control-label"></label>
                <select asp-for="matricula_vendedor" class="form-control">
                    <option value="">Selecione uma matrícula</option> <!-- Opção em branco para seleção padrão -->
                    @foreach (var vendedor in ViewBag.ListaDeMatriculas)
                    {
                        <option value="@vendedor.Value">@vendedor.Text</option>
                    }
                </select>
                <span asp-validation-for="matricula_vendedor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="data_cadastro" class="control-label"></label>
                <input asp-for="data_cadastro" class="form-control" />
                <span asp-validation-for="data_cadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
