@model execicio.Models.Vendedor

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Vendedor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="matricula_aluno" class="control-label"></label>
                <select asp-for="matricula_aluno" class="form-control">
                    <option value="">Selecione uma matrícula</option>
                    @foreach (var vendedor in ViewBag.ListaDeMatriculas)
                    {
                        <option value="@vendedor.Value">@vendedor.Text</option>
                    }
                </select>
                <span asp-validation-for="matricula_aluno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="habilitado_desde" class="control-label"></label>
                <input asp-for="habilitado_desde" type="date" class="form-control" />
                <span asp-validation-for="habilitado_desde" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="leiloes_criados" class="control-label"></label>
                <input asp-for="leiloes_criados" class="form-control" />
                <span asp-validation-for="leiloes_criados" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="impedido" /> @Html.DisplayNameFor(model => model.impedido)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
